[run]
omit =
    *__init__*
    /home/travis/virtualenv/python3.6.3/lib/python3.6/*

#[report]
#omit =  
#    */travis/*
#    */python?.?/*
#    */site-packages/nose/*
#    *__init__*
#exclude_lines =
#    if __name__ == .__main__.:
