certifi==2018.4.16
chardet==3.0.4
darkskylib==0.3.91
future==0.16.0
idna==2.6
numpy==1.14.3
matplotlib==2.2.2
pandas==0.23.0
python-dateutil==2.7.3
pytz==2018.4
requests==2.18.4
scikit-learn==0.19.1
six==1.11.0
tensorboard==1.8.0
tensorflow==1.8.0
urllib3==1.22
